# CODEOWNERS for autoreview assigning in github
/.github/CODEOWNERS @SiliconLabsSoftware/devservices-admins @SiliconLabsSoftware/mmte-application-examples-maintainer

# Applications
/projects/platform/platform_applications/ @silabs-Joe
/projects/z_wave/ @laurge
/campaigns/XIAO-Showdown-2025 @SiliconLabsSoftware/community-creations-campaigns-reviewers

# TBD
# /projects/proprietary/  @silabs-TiborL
# /projects/wisun/
# /projects/iot_utilities/
# /projects/training/
