# General part of the gitignore
*.launch
*.orig
*.bak
.vscode/
**/build/
**/GNU ARM v*
**/.projectlinkstore
**/.settings
**/.makefile
**/.trash
**/.uceditor
**/autogen/*.crc
**/__pycache__
**/GNU ARM v*
**/IAR ARM*
**/sonar-bw/

##Enable these if you are not tracking Simplicity studio project
# **/.cproject
# **/.project
# **/.pdm

## Documentation related ignores.
## Modify them if it is necessary
*.docx
*.doc
*.ppt
*.pdf
*.xlsx
*.xls
*.html



#code convention tool gitignore
code-convention-tool/
**/venv/
